<p>form-residence works!</p>
<div class="container">
<form [formGroup]="formR">

    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Id</span>
        </div>
        <input type="number" aria-label="First name" formControlName="id" class="form-control">
      </div>
      <div class="alert alert-danger" *ngIf="formR.get('id')?.invalid && formR.get('id')?.touched">
                msg: minlength in id is 2.
      </div>
<br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input type="text" aria-label="First name" formControlName="name" class="form-control">
      </div>

      <div class="alert alert-danger" *ngIf="formR.get('name')?.invalid && formR.get('name')?.touched">
        msg: lettre Az in name.
</div>
      <br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Address</span>
        </div>
        <input type="text" aria-label="First name" formControlName="address" class="form-control">
      </div>

      <div class="alert alert-danger" *ngIf="formR.get('address')?.errors?.['maxlength']">
        msg: maxlength 10 in address.
</div>
      <br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Image</span>
        </div>
        <input type="text" aria-label="First name" formControlName="image" class="form-control">
      </div>
      <br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Status</span>
        </div>
        <input type="text" aria-label="First name" formControlName="status" class="form-control">
      </div>
      <div class="alert alert-danger" *ngIf="status?.invalid && status?.touched">
        msg: il faut etre "disponile".
</div>
      <br>
      <button class="btn btn-primary" (click)="add()" [disabled]="formR.invalid">Save</button>

</form>
</div>